@import url("@radix-ui/themes/styles.css");

:is(.dark, .dark-theme),
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #202124;
}

body {
  margin: 0;
}
